[all:children]
elasticsearch
logstash
kibana

[all:vars]
ansible_user=
ansible_private_key_file=
ansible_port=22

[elasticsearch:children]
elasticsearch_master

[elasticsearch_master]
elk1 ansible_host=

[logstash]
elk4 ansible_host=

[kibana]
elk5 ansible_host=