[all:children]
elasticsearch
logstash
kibana

[all:vars]
ansible_user=ec2-user
ansible_private_key_file=
ansible_port=22

[elasticsearch:children]
elasticsearch_master
elastic_datanode

[elasticsearch_master]

[elastic_datanode]

[logstash]

[kibana]